[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"

[dev-packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
mysqlclient = '*'

[requires]
python_version = "3.10"
